DISCORD_TOKEN=""
BOT__OWNER_ID=""
BOT__FEEDBACK_CHANNEL_ID=""
BOT__DEBUG_GUILD_ID="" # If set, the bot will only work in this server
BOT__MANAGEMENT_GUILD_ID=""
BOT__ACTIVITY="Enjoying the silence"

DB__URL=""

LLM__API_KEY=""
WOLFRAM__API_KEY=""
