.env
uv.lock
.vscode
.venv
.idea
.DS_Store
.mypy_cache
.ruff_cache

__pycache__
scripts
prompts/system.xml
docs

.claude
.codex
.copilot
.cursor
.github
.kilocode
.opencode
.windsurf
AGENTS.md
CLAUDE.md
